* {
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F7F0F0;
}

#main{
 /* background-color: red; */
 height: 90vh;
 gap: 100px;
 display: flex;
 justify-content: center;
 align-content: center;
}

#box{
    /* flex: 2; */
    /* background-color: yellow; */
    width: 400px;
    height: 400px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h5{
    margin: 0;
    padding: 5px;
    text-align: center;
}

#firstRow{
    display: flex;
    margin-bottom: 15px;
    /* background-color: yellow; */
    width: inherit;
    justify-content: space-evenly;
    /* gap: 3pt; */
}
#secondRow{
    display: flex;
    /* background-color: yellow; */
    margin-top: 15px;
    width: inherit;
    justify-content: space-evenly;
    /* gap: 3pt; */
}

#middle{
    display: flex;
    /* background-color: yellow; */
    width: inherit;
    height: inherit;
    justify-content: space-between;
    /* padding-top: 5px; */
    /* flex-direction: column; */
}

#firstCol, #secondCol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#midbox{
    /* background-color: yellow; */
    position: relative;
    z-index: 0;
    border: black solid 3pt;
}


/* DOTS */


#dots{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: calc(300px + 20px);
    height: calc(300px + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r1dot, #r2dot{
    display: flex;
    width: inherit;
    justify-content: space-around;
}

#middot{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

#c1dot, #c2dot{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    border: black solid 1pt;
}

.gitna{
    width: 300px;
    height: 300px;
}

#wordinput{
    /* flex: 1; */
    height: 50px;
    width: 97%;
    
    /* display: flex; */
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; */
}

.used{
    background-color: #10964896;
    border-radius: 10px;
}

#input_and_result{
    /* background-color: green; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}