* {
    font-size: xx-large;
    font-weight: bolder;
}

body{
    background-color: rgb(228, 242, 204);
}

#box{
    flex: 2;
    /* background-color: red; */
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

h5{
    margin: 0;
}

#firstRow{
    display: flex;
    margin-bottom: 15px;
    /* background-color: yellow; */
    width: inherit;
    justify-content: space-evenly;
    /* gap: 3pt; */
}
#secondRow{
    display: flex;
    /* background-color: yellow; */
    width: inherit;
    justify-content: space-evenly;
    /* gap: 3pt; */
}

#middle{
    display: flex;
    /* background-color: yellow; */
    width: inherit;
    height: inherit;
    justify-content: space-between;
    /* padding-top: 5px; */
    /* flex-direction: column; */
}

#firstCol, #secondCol{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


#midbox{
    /* background-color: yellow; */
    position: relative;
    z-index: 0;
    border: black solid 3pt;
}

#main{
    display: flex;
    width: 90vw;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

/* DOTS */


#dots{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: calc(300px + 20px);
    height: calc(300px + 20px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#r1dot, #r2dot{
    display: flex;
    width: inherit;
    justify-content: space-around;
}

#middot{
    display: flex;
    justify-content: space-between;
    height: 300px;
}

#c1dot, #c2dot{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: white;
    border: black solid 1pt;
}

.gitna{
    width: 300px;
    height: 300px;
}

#wordinput{
    flex: 1;
    height: 50px;
    width: 100px;
    margin-left: 100px;
    /* display: flex; */
    /* margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px; */
}